@keyframes flash {
    
	0% { background-color: red; }
    25% { background-color: green; }
    50% { background-color: blue; }
    75% { background-color: yellow; }
    100% { background-color: red; }
}

body {
    margin: 0;
    height: 100vh;
    animation: flash 0.2s infinite;
}
h1 {
	font-family: Comic Sans ms;
	text-align: center;
}